.shopping-cart {
    margin-top: 45px;
  }
  
.shopping-cart .total {
  text-align: right;
  font-size: 1.3rem;
  margin-right: 10px;
}

.shopping-cart button {
  margin-left: 5px;
  margin-top: 5px;
}

.empty-shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  font-size: 3em;
}

.empty-shopping-cart a {
  color: #19aeffea;
}

.empty-shopping-cart i {
  margin-right: 20px;
}