.error-indicator {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 2rem;
}

.error-indicator img {
    align-self: center;
    height: 100%;
    margin-bottom: 20px;
}

.error-indicator span {
    align-self: center;
    color: #ca8300;
    font-size: 2em;
}